<!DOCTYPE html>
<html>
  <head>
    <title>Credentials</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>

  <body>
    <form action="creds" method="post" id="creds-form">
      <div>
        <input type="text" name="account_id" placeholder="255877299" />

        <input
          type="text"
          name="consumer_key"
          placeholder="LIGZYGR7MAWXVZV3JQQLJ9ZOES1U50IWA"
        />

        <input
          type="text"
          name="refresh_token"
          placeholder="hKY9X/QGcmmS2VnVP0FmZkrXMhp58At7X9ME8iw9ilVc/sh1PJ2M0/fmXawMqTA4sKNvTqBZU9Wl+H9iU6w+/79dowwpDDfgZUkzx/+WUYHWaJ6853Wz9E1MpYsgOR8Vhsiomk..."
        />

        <input type="submit" value="Enter" />
      </div>

      <p>{{response}}</p>

      <div>
        <select name="client">
          {% for client in client_list %}
          <option value="{{ client.value }}" selected>
            {{ client.value }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>

    <button type="submit" id="dev" onClick="parent.location='/dev_login'">
      Dev Login
    </button>
  </body>
</html>
