<!DOCTYPE html>
<html>
  <head>
    <title>Discord Options (DEV)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>

  <body>
    <input type="button" onClick="parent.location='/dev_login'" value="Home" />

    <form action="sell_position" , method="post">
      <div id="positions">
        <select name="position_to_sell">
          {% for position in current_positions %}
          <option value="{{ position.name, position.amount }}" selected>
            {{ position.name }}
          </option>
          {% endfor %}
        </select>
        <input type="submit" value="Sell All" />
      </div>
    </form>

    <form action="submit" method="get">
      <div>
        <p>{{input_text}}</p>

        <div>
          <input
            type="text"
            name="discord_text"
            placeholder="Bought $tsla Oct 1 $775 call"
          />
          <input type="submit" value="Enter" />
        </div>

        <p>{{parsed_text}}</p>

        <p>{{response}}</p>
      </div>
      <img id="hammer" src="{{url_for('static', filename='hammer.png')}}" />
    </form>
    <input type="button" onClick="parent.location='/logout'" value="Logout" />
  </body>
</html>
