html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

form {
  margin: auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

p,
div,
#positions{
  text-align: center;
}

#positions{
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  height: 33%;
  /* align vertical */
  flex-direction: column;
}

img{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}
/* select {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
} */

