html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

form {
  margin: auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

p,
div,
#positions{
  text-align: center;
}

#positions{
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  height: 50%;
  /* align vertical */
  flex-direction: column;
}

img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}
 select {
   margin-top: 2%;
   margin-bottom: 1%;
 }

