html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

form {
  margin: auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

p,
div{
  text-align: center;
}

img, select {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/* button{
  min-height: 20px;
} */
